body {
    background: #cccccc
}

p {
    text-align: center;
}

em strong {
    color: #FF0000;
}

<link rel="stylesheet" href="style.css">

<h1 style="text-align: center">Sobre o Futsal Alura</h1>

<p style="font-size: 20px"><em>Nossa missão é: <strong>"Proporcionar auto-estima e qualidade de vida aos clientes"</strong></em></p>