body {
    background: #CCCCCC
}

.banner{
    width: 100%;
    height: 800px;
}

h1 {
    text-align: center
}

p {
    text-align: center;
    font-size: 23px;
}

#missao {
    font-size: 20px
}

strong {
    color: red;
}

.itens {
    font-style: italic
}
main {
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0;
}

form label {
    display:block;
    font-size: 20px;
    margin: 0 0 10px;
}

form input {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

form label {
    display:block;
    font-size: 20px;
    margin: 0 0 10px;
}

form label, form p {
    display:block;
    font-size: 20px;
    margin: 0 0 10px;
}

